extends layout

block content
  .feature
    .row
      .column.large-12
        h2 Page Not Found
  
  .row.content
    .column.large-12
      p Sorry! We are not able to find the page you are looking for
