extends layout

block content
  .feature
    .row
      .column.large-12
        h2 Contact Us

  .row.content
    .columns.large-12

      form(id="contactForm", method="POST" action="/contact")
        label Name
        input(type="text", name="name", placeholder="Enter your name", value=data.name, required)

        label Email Address
        input(type="email", name="from", placeholder="Enter your email", value=data.from, required)

        label Message
        textarea(name="message", placeholder="Enter your message", required)=data.message

        div(class="g-recaptcha", data-sitekey="6LdFv24UAAAAACzwwwuRzbzK7zSZj4p-mUGMiY7d", data-callback="recaptchaCallback")
        br
        input(id="submit", type="submit", value="Send", disabled).button.small

block scripts
  script.
    function recaptchaCallback() {
      $('#submit').removeAttr('disabled');
      $('#submit').removeClass('disabledButton');
    };