extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Central Coast
      | <b>When:</b> Mondays from 24th July (for 12 weeks) <br/>
      | <b>Time:</b> 7.30pm – 9.45pm<br/>
      | <b>Where:</b> Home of Jon and Karys Fearon, 1 Clipper Crescent Tascott 2250, NSW<br/>
      | <b>Cost:</b> $180, includes reader & all course materials. Note: Reader may be hired rather than purchased in which case the total cost would be $135<br/>
      | <b>Contact:</b> Jon and Karys 4311 6254 jkfearon@iinet.net.au<br/>
      
      h3 Macarthur 
      | <b>Start date:</b> Tuesday, 7 February 2017 <br/>
      | <b>Contact:</b> Roy Anderson on <a href="mailto:roy46a@gmail.com">roy46a@gmail.com</a> <br/> <br/>
      | Will run home of Ed and Sally Hawkins, Camden on Tuesdays

      h3 Tamworth
      | <b>Start date:</b> Monday 6 March 2017 (7pm) <br/>
      | <b>Contact:</b> Ian Burton 0427818827 <br/> <br/>
      | <a href="/assets/tamworth-2017.pdf">Download PDF</a> for more information

      h3 Newcastle
      | <b>When:</b> Tuesday 11th April to Tuesday 27th June 2017 (7:00pm – 9.30pm) <br/>
      | <b>Where:</b> Newcastle YWAM Centre, 28 Hanbury St, Mayfield 2304 <br/>
      | <b>Cost:</b> $180, includes reader & all course materials <br/>
      
      <br/>
      | <b>Return Application To: </b> <br/>
      | Keith & Berrice Griffiths <br/>
      | Palm Lake Resort, Villa 25/1117 <br/>
      | Nelson Bay Rd, Fern Bay, NSW 2295 <br/>
      | Contact Details: Keith Griffiths <br/>

      <br/>
      | <b>Email:</b> kbgriffs@bigpond.com<br/>
      | <b>Mobile:</b> 0403 716 163<br/>    

      h3 Albion Park
      p Standard course from 16th June - 29th September from 6 - 8pm
