extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throughout all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Sydney
      | <b>When:</b> Every Thursday evening for 12 weeks from 23rd July<br/>
      | <b>When:</b> 7:00pm to 10:00pm <br/>
      | <b>Where:</b> Online using Zoom <br/>
      | <b>Cost:</b> $180 for Reader, Study guide and class costs<br/>
      | <b>Contact:</b> Please contact Warwick or Jessica at coghlans@coghlans.id.au
      
      h3 Melbourne
      | <b>When:</b> Every Monday for 13 weeks from 3th July to 13th October, 2020<br/>
      | <b>When:</b> 7:00pm to 9:30pm <br/>
      | <b>Where:</b> Online using Zoom <br/>
      | <b>Cost:</b> $180 ($20 deposit payable on the first night). You can arrange to pay in installment.<br/>
      | <b>Contact:</b> Please contact Ati at missions@crossculture.net.au for more information.