extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Adelaide
      | <b>When:</b> Tuesday evening from 20th February 2018 <br/>
      | <b>When:</b> 7:30pm to 9:45pm <br/>
      | <b>Where:</b> Austral-Asian Community Church, 3-5 Kennaway St, Tusmore 5065 <br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Phoebe Lau. 0403 032 594 phoebelau3004@gmail.com

      h3 Springwood
      | <b>When:</b> Tuesday evening from 27th February 2018 <br/>
      | <b>When:</b> 7:30pm to 10:00pm <br/>
      | <b>Where:</b> Springwood Baptist CHurch, cnr Macquarie Rd & Homedale Street, Springwood 2777 <br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Warwick Coghlan. 02 4754 1143   coghlans@coghlans.id.au
