extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throughout all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.
      
      h3 Online Standard Course
      | <b>When:</b> Every Monday evening for 13 weeks from 12th July<br/>
      | <b>When:</b> 7pm to 10 pm <br/>
      | <b>Where:</b> Online using Zoom <br/>
      | <b>Cost:</b> $180 ($20 deposit payable on enrolment) for Reader, Study Guide and class costs<br/>
      | Register at <a href="http://www.crossculture.net.au/perspectives">www.crossculture.net.au/perspectives</a>