extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Tamworth
      p <b>Start date:</b> Monday 6 March 2017 (7pm) <br/>
      |<b>Contact:</b> Ian Burton 0427818827 <br/>
      | <a href="/assets/tamworth-2017.pdf">Download PDF</a> for more information

      h3 Newcastle
      p <b>When:</b> Tuesday 11th April to Tuesday 27th June 2017 (7:00pm – 9.30pm)
      | <b>Where:</b> Newcastle YWAM Centre, 28 Hanbury St, Mayfield 2304 <br/>
      | <b>Cost:</b> $180, includes reader & all course materials <br/>
      p Return Application To:  <br/>
      | Keith & Berrice Griffiths <br/>
      | Palm Lake Resort, Villa 25/1117 <br/>
      | Nelson Bay Rd, Fern Bay, NSW 2295 <br/>
      | Contact Details: Keith Griffiths <br/>
      | <b>Email:</b> kbgriffs@bigpond.com<br/>
      | <b>Mobile:</b> 0403 716 163<br/>    

      h3 Albion Park
      p Standard course from 16th June - 29th September from 6 - 8pm
