extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      p Courses that are running at the moment are in Macarthur and Springwood in the Blue Mountains (NSW)

      h3 Macarthur 
      p Information Night - 7pm, Thursday 2nd February
      p Narellan Community Congregational Church, 38 Exchange Parade, Smeaton Grange
      p For more information contact <a href="mailto: roy46a@gmail.com">Roy Anderson</a>
      
      h3 Albion Park
      p Standard course from 16th June - 29th September from 6 - 8pm
