extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      p Courses that are running at the moment are in Macarthur and Springwood in the Blue Mountains (NSW)

      h3 Macarthur 
      p Standard course starting on Wednesday, August 12th meeting at Narellan Community Congregational Church (4/38 Exchange Parade, Smeaton Grange)
      p Please contact Roy Anderson
      p Email: <a href="mailto: roy64a@gmail.com">roy64a@gmail.com</a>      