extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Tamworth
      p Start date: Monday 6 March 2017 (7pm)
      p Contact: Ian Burton 0427818827
      p <a href="/assets/tamworth-2017.pdf">Download PDF</a> for more information

      h3: Newcastle
      p When: Tuesday 11th April to Tuesday 27th June 2017 (7.p 00pm – 9.30pm)
      p Where: Newcastle YWAM Centre, 28 Hanbury St., Mayfield 2304
      p Cost: $180, includes reader & all course materials.
      p Return Application To:
      p Keith & Berrice Griffiths
      p Palm Lake Resort, Villa 25/1117
      p Nelson Bay Rd, Fern Bay, NSW 2295
      p Contact Details:
      p Keith Griffiths
      p Email: kbgriffs@bigpond.com
      p Mobile: 0403 716 163    

      h3 Albion Park
      p Standard course from 16th June - 29th September from 6 - 8pm
