extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Adelaide
      | <b>When:</b> Tuesday evening from 20th February 2018 <br/>
      | <b>When:</b> 7:30pm to 9:45pm <br/>
      | <b>Where:</b> Austral-Asian Community Church, 3-5 Kennaway St, Tusmore 5065 <br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Phoebe Lau. 0403 032 594 phoebelau3004@gmail.com

      h3 Castle Hill
      | <b>When:</b> Thursday evening from 9th August 2018  <br/>
      | <b>When:</b> 7:30pm to 10:00pm<br/>
      | <b>Where:</b> St Pauls Anglican Church, 421 Old Northern Rd, Castle Hill NSW <br/>
      | <b>Cost:</b>  $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Malcolm Pass, Ph 0490 036 064, thepasses@optusnet.com.au

      h3 Lane Cove
      | <b>When:</b> Thursday evening from 7th June 2018 <br/>
      | <b>When:</b>  7:30pm to 9:30pm<br/>
      | <b>Where:</b> St Andrews Church, 1 Rosenthal Ave, Lane Cove NSW <br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Harold Choy, 0479 010 354, choy_harold@yahoo.com

      h3 Wollongong
      | <b>When:</b> Wednesday evening from 21st March 2018 (Free introduction evening on 14th March)<br/>
      | <b>When:</b> 7:00pm to 9:15pm <br/>
      | <b>Where:</b> Woonoona Presbyterian Community Church, 7 Gray Street, Woonoona 2517<br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Susan Currie, 0422 174 434, suesaltshaker@gmail.com
      
      h3 Wagga Wagga
      | <b>When:</b> Wednesday evening from 15th August 2018 <br/>
      | <b>When:</b> 7:00pm to 9:30pm <br/>
      | <b>Where:</b> St Paul's South Wagga, 31 Fernleigh Rd, Turvey Park <br/>
      | <b>Cost:</b> $180 includes Study Guide, Reader and all course materials <br/>
      | <b>Contact:</b> Narelle Cosier, 6926 2892, narelle.cosier@bigpond.com
      
      h3 Melbourne
      | <b>When:</b> Every Monday for 13 weeks from 9th July to 8th October, 2018<br/>
      | <b>When:</b> 7:00pm to 9:30pm <br/>
      | <b>Where:</b> Chapel Hall, Cross Culture Church of Christ, 333 Swanston St, Melbourne VIC 3000 <br/>
      | <b>Cost:</b> $180 ( $20 deposit payable on the first night). You can arrange to pay in installment. <br/>
      | <b>Contact:</b>   Please contact Ati at missions@crossculture.net.au for more information.