extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.
      
      h3 Melbourne
      | <b>When:</b> Every Monday for 13 weeks from 8th July to 7th October, 2019<br/>
      | <b>When:</b> 7:00pm to 9:30pm <br/>
      | <b>Where:</b> Chapel Hall, Cross Culture Church of Christ, 333 Swanston St, Melbourne VIC 3000 <br/>
      | <b>Cost:</b> $180 ( $20 deposit payable on the first night). You can arrange to pay in installment. <br/>
      | <b>Contact:</b>   Please contact Ati at missions@crossculture.net.au for more information.