extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throughout all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      h3 Sydney Online
      | <b>When:</b> Every Thursday evening for 12 weeks from the 25th February 2021<br/>
      | <b>When:</b> 7:30pm to 10:00pm <br/>
      | <b>Where:</b> Online using ZOOM. This course is open to anywhere in Australia <br/>
      | <b>Cost:</b> $180 for Reader, Study guide and class costs<br/>
      | <b>Contact:</b> Please contact Warwick or Jessica at coghlans@coghlans.id.au

      h3 Engadine
      | <b>When:</b> Every Saturday morning for 12 weeks from the 6th February 2021 <br/>
      | <b>When:</b> 10am to 12:30pm<br/>
      | <b>Where:</b> Engadine Congregational Church, Waratah Rd, Engadine<br/>
      | <b>Cost:</b> $180 ($20 deposit payable on the first night). You can arrange to pay in installment.<br/>
      | <b>Contact:</b> Please contact Roy at roy46a@gmail.com
      
      h3 Melbourne Online Advanced Course
      | <b>When:</b> Every Monday evening for 13 weeks from 8th February<br/>
      | <b>When:</b> 7:00pm to 10:00pm <br/>
      | <b>Where:</b> Online using Zoom <br/>
      | <b>Cost:</b> $180 ($20 deposit payable on enrolment) for Reader, Study Guide and class costs<br/>
      | <b>Contact:</b> Please contact Ati at missions@crossculture.net.au for more information.