extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Find a Class

  .row.content
    .column.large-12
      p Perspectives runs throught out all of Australia including NSW, ACT, SQL, VIC, WA, TAS, NT and SA.

      p There are currently no classes scheduled but please <a href="contact">contact</a> us if you are interested.
        