extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Contact Us

  .row.content
    .column.large-12
      p Thanks for your email. We'll get back to you shortly.        
        