extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 The Course

  .row.content
    .column.large-9
      p Perspectives on the World Christian Movement is a life-changing two-part course designed to give Christians a unique opportunity to investigate the work of God around the world, through history and to consider their role in His purposes.

      p Developed by Dr Ralph Winter, Steve Hawthorne and other staff of the U.S. Centre for World Mission in Pasadena, California, Perspectives surveys background, development and potential of Christianity as an international social movement. It does so in four main sections:

      ul
        li Biblical: God's unchanging purposes for the nations
        li Historical: The expansion of the Christian movement
        li Cultural: Communicating the gospel cross-culturally
        li Strategic: Means for completing the Great Commission
        li The course is taught in weekly class sessions lasting two and a half hours each. In addition to this, students spend approximately 3 to 4 hours per lesson in independent study working through the study materials for the course (the Reader and Study Guide).

      h3 
        a(name="purpose") Purpose

      p The purpose of the Perspectives course is to help participants develop a clearer perspective of God's global mission in the world so as to enable them to make informed decisions about their strategic participation with Him in this. The course is intended to confront participants with the personal challenge of how they can contribute to fulfilling the Great Commission whether as:

      ul
        li A "Goer": who goes cross-culturally to communicate the Gospel
        li An "Active Sender": who provides strategic support from the home base
        li An "Equipper": who aids the task of missions by mobilising others, or
        li A "Welcomer": who befriends internationals visiting this country
        li People contemplating doing the course should be aware of the fact that it carries a health warning! Steve Hawthorne comments in the introduction to the Standard Perspectives Study Guide, "This course carries with it a certain danger. Quite possibly, the experience of taking this course will, in itself, set you apart in certain ways from even your closest friends...One way to head off this kind of danger is to take this course with your friends. Or at least seek to sensitively impart your vision and commitment to others."

      h3 
        a(name="course-type") Types of Perspectives Course
      p The Perspectives course comes in three main categories: Residential Courses, Church Courses and Bible College Courses. Church Courses are our main focus, offering the Perspectives course in churches throughout Australia. Students are mainly drawn from the church concerned, but church courses are not denominational in nature.

      h3 
       a(name="course-length") Course Length
      p Each Perspectives course, the Standard Perspectives (formerly Part One) and Advanced Perspectives, (formerly Part Two), consists of 12 lessons and take 12 weeks or an equivalent length of course and study time, e.g., a two weeks residential course.

      h3
        a(name="certificate") Course Certificate
      p At the conclusion of each course those people who have attended at least 10 out of 12 Perspectives classes and completed all study requirements receive a certificate of achievement. This certificate is issued by the National Perspectives office.

      h3 
        a(name="coordinators") Course Coordinators
      p In line with the policy followed in United States and New Zealand, all Perspectives courses are run by coordinators who have completed a Perspectives course to the standard as above and a Coordinator Workshop run by an authorised Coordinator Workshop leader. Coordinator Workshop leaders are experienced course coordinators and are authorised by the Centre for Mission Direction. Coordinator Workshop leaders are kept in touch on a regular basis with current developments. They have the responsibility of oversight of and liaison with those people coordinating a Perspectives course in their area.

      h3 
        a(name="after-the-course") After The Course
      p After completing Perspectives, most students like to get involved in completing the task of World Evangelisation, either as mission mobilisers, active senders or by cross-culturally communicating the gospel. Graduates are able to become PSP alumni and receive the quarterly newsletter Window on the World to stay informed.

    .column.large-3
      .panel
        ul.quick-links
          li 
            a(href="#purpose") Purpose
          li 
            a(href="#course-type") Course Types
          li 
            a(href="#course-length") Course Length
          li
            a(href="#certificate") Certificate
          li
            a(href="#coordinators") Coordinators
          li
            a(href="#after-the-course") After The Course