extends ../layout

block content
  .feature
    .row
        .column.large-12
          h2 God's Mission For The World
          p "Perspectives on the World Christian Movement" is a course about God - what He has done, what He is doing, and what still remains to be done. The purpose of the course is not to transform every person doing it into a missionary but to challenge every Christian to become strategic as well as obedient in participating with the Living God in His mission.

  .row.content
    .column.large-9

      p.quote-text "What this course does is bring all of the Bible, all of Christian history, most of what a person studies in seminary all into one solid, profound course. No wonder it's an explosive thing in people's lives. They've never integrated all that information in one place at one time. We've just been amazed at the results."
      p.quote-author Dr Ralph Winter, US Centre for World Mission

      p
        a(href="")
          img(src="img/aztem.jpg").sponsor
        a(href="")
          img(src="img/cms.jpg").sponsor
        a(href="")
          img(src="img/interserve.jpg").sponsor
        a(href="")
          img(src="img/ntm.jpg").sponsor
        a(href="")
          img(src="img/om.jpg").sponsor
        a(href="")
          img(src="img/sim.jpg").sponsor
        a(href="")
          img(src="img/stamp.jpg").sponsor
        a(href="")
          img(src="img/steer.jpg").sponsor
        a(href="")
          img(src="img/wycliffe.jpg").sponsor

    .column.large-3
      iframe(src="http://www.joshuaproject.net/upgotd_html.php", frameborder="0", scrolling="no", height="350", width="225", marginheight="0", marginwidth="0")