extends ../layout

block content
  .feature
    .row
        .column.large-12
          h2 Resources

  .row.content
    .column.large-12
      h3 
        a(href="http://www.30-days.net") 30 days of Prayer for Islam
      p Official site for the 30 Days of Prayer for the Muslim World
      
      h3 
        a(href="http://www.cms.org.au/") Church Missionary Society Australia
      p CMS is the Church Missionary Society. Our vision is to proclaim the gospel, serving God's people around the world to see lives transformed by Christ
      
      h3 
        a(href="https://www.cia.gov/library/publications/the-world-factbook") CIA World Fact Book
      p Facts by country name
      
      h3
        a(href="http://www.gapminder.org/countries") Gapminder
      p See a visual representation of world development