extends ../layout

block content
  .feature
    .row
      .column.large-12
        h2 Testimonials

  .row.content
    .column.large-9
      p.quote-text "What this course does is bring all of the Bible, all of Christian history, most of what a person studies in seminary all into one solid, profound course. No wonder it's an explosive thing in people's lives. They've never integrated all that information in one place at one time. We've just been amazed at the results."
      p.quote-author Dr Ralph Winter, US Centre for World Mission
      hr

      p.quote-text "The on-going work of evangelising the world, especially the unreached people groups where there are presently no churches or witnesses, is a primary responsibility of Christians everywhere. There is no other course of which I know that will inform, inspire and motivate Christians for world evangelisation......it will stretch your mind, warm your heart and stir your will"
      p.quote-author Dr Billy Graham
      hr

      p.quote-text "The Perspectives Course is brilliant. It has widened my horizons for what's going on in missions. It's stretched my knowledge and clarified lots, including some of what we were doing in Pakistan. It's strengthened my commitment to God's worldwide mission. I commend it highly. No Christian should stay home without it. "
      p.quote-author Canon John Thew, Federal Secretary Church Missionary Society Australia
      hr

      p.quote-text " The Perspectives course shakes us in our parochialism, it focuses on the world and away from our little corner. It forces students to "look at the fields". Excellent and rewarding. "
      p.quote-author Dr Robert Benn, former National Coordinator Australian Presbyterian World Mission
      hr

      p.quote-text "The Perspectives course has opened my eyes to a whole new world! A world with many needs and challenges. I see now that I have a part to play in meeting those needs and challenges. Perspectives offers the means of equipping people as well as calling them to take part in God's mandate for missions."
      p.quote-author Student
      hr

      p.quote-text "Perspectives reveals that the command to make disciples of all nations is not a vague, general command to the Church, but is directed at me personally in a very practical way."
      p.quote-author Student
      hr

      p.quote-text "This course has broadened my vision. It has led me to know what it means to be a World Christian."
      p.quote-author Student
      hr

      p.quote-text "Perspectives must be the best 'taster' course around for missions. It is a must for anyone thinking of going, praying, motivating or sending. All Christians should have some exposure to the contents of this course."
      p.quote-author Student
      hr

      p.quote-text "I have personally found the Perspectives programme to be a life changing experience which has given me a clear understanding of Christ's global cause."
      p.quote-author Student
      hr

      p.quote-text "I found the course exciting and challenging."
      p.quote-author Student

    .column.large-3
      .panel
        p.quote-text "What this course does is bring all of the Bible, all of Christian history, most of what a person studies in seminary all into one solid, profound course."
        p.quote-author Dr Ralph Winter